@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
body {
  color: #222;
  margin: 0;
  
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
}

header {
  background: linear-gradient(
    90deg,
    rgba(142, 197, 230, 1) 0%,
    rgba(100, 96, 215, 1) 100%,
    rgba(183, 141, 201, 1) 100%
  );
  color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
  padding: 24px;
  text-align: center;
}

.post-row {
  display: flexbox;
  justify-content: space-between;
}

.post {
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.15);
  margin: 2%;
}
.post > img:first-child {
  border-radius: 7px 7px 0 0;
  margin-bottom: 0px;
  max-width: 100%;
  height: auto;
  align-self: center;
}
.post h3 {
  color: #222;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.post p {
  color: #1d1616;
  font-size: 16px;
}
.tag {
  color: #fff;
  padding: 0.25em;
  background: linear-gradient(
    90deg,
    rgba(142, 197, 230, 1) 0%,
    rgba(100, 96, 215, 1) 100%,
    rgba(183, 141, 201, 1) 100%
  );
  border-radius: 4px;
  margin: 0.2%;
}
.button {
  border: 0;
  border-radius: 25px;
  color: #fff;
  width: fit-content;
  background-color: #6c63ff;
  display: block;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 4%;
  text-decoration: none;
}

footer {
  background: linear-gradient(
    90deg,
    rgba(142, 197, 230, 1) 0%,
    rgba(100, 96, 215, 1) 100%,
    rgba(183, 141, 201, 1) 100%
  );
  /* padding: 24px; */
  text-align: center;
  /* margin-top: auto; */
  position: absolute;
  width: 100%;
  color: #fff;
  box-shadow: 1px -1px 4px 1px rgba(0, 0, 0, 0.2);
}

.img-align-left {
  float: left;
  margin: 0 16px 16px -20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.img-align-right {
  float: right;
  margin: 0 -20px 16px 16px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
